a {
  text-decoration: none;
  color: inherit;
}
.login_row {
  float: right; 
  position: absolute;
  right: 30px;
}
.login {
  display: inline-block;
}
.login_a{
  position: relative;
  bottom: 6px;
}
.Login_menu_nav {
  display: inline;
}
.Login_menu_nav ul{
  width: 140px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;

}
.Login_menu_nav li{
  text-align: center;
  color: #e06989;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  border: 1px solid #ffe3eb;
  background-color: #ffe3eb;
  border-radius: 10px;
  float: left;
}
.Login_menu_link {
  display: block;
}

h1 {
  font-size: 65px;
  text-align: center;
  position: relative;
  top: 50px;
}
.menu_row {
  text-align: center;
  height: 300px;
  position: relative;
  top: 100px;
}
.menu {
  text-align: center;
  display: inline-block;
  width: 250px;
  height: 250px;
  line-height: 250px;
  border: 1px solid #ffe3eb;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  background-color: #ffe3eb;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.menu:hover {
  background-color: #ffc1d2;
  border-color: #ffc1d2;
}
#gate_h1 {
  font-size: 100px;
  text-align: center;
  margin: 75px;
  position: relative;
  top: 50px;
}

#gate_h2 {
  font-size: 75px;
  text-align: center;
  margin: 75px;
  position: relative;
  top: 50px;
}

#gate_div {
  text-align: center;
  position: relative;
  top: 50px;
}





.NoticeBoard_head {
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 10px;
}
.NoticeBoard_Main {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  text-align: center;
  display: inline-block;
  position: relative;
  
}
.NoticeBoard_bottom {
  border:1px solid red;
  height: 100px;
  
}
.NoticeBoard_post {
  text-align: left;
  width: 55%;
  margin: 5px;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: inline-block;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.NoticeBoard_post:hover {
  background-color: #ffe3eb;
}
#NoticeBoard_post_menu1 {
  float: left;
}
#NoticeBoard_post_menu1_button {
  margin-right: 10px;
}
#NoticeBoard_post_menu2 {
  float: right;
}
.NoticeBoard_post_menu2_content {
  padding: 5px;
  border-right: 1px solid gray;
}
#NoticeBoard_post_menu2_content_correction {
  border: none;
}
.NoticeBoard_post_reply_head {
  font-weight: 900;
}
.NoticeBoard_post_reply_content_ul {
  padding: 0px;
  list-style: none;
}
.NoticeBoard_post_reply_content_li {
  padding-bottom: 15px;
  margin: 3px;
}
.NoticeBoard_post_replySubmit {
  margin-top: 70px;
}
#NoticeBoard_post_replySubmit_textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
}
#NoticeBoard_post_replySubmit_button {
  width: 90px;
  height: 35px;
  float: right;
}
.NoticeBoard_sideList{
  border: 1px solid #ffe3eb;
  background-color: #ffe3eb;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  position: fixed;
  right: 5%;
  top: 20%;
}
.NoticeBoard_sideList_ul {
  padding: 0px;
}
.NoticeBoard_sideList_li {
  list-style: none;
  margin: 10px;
  padding-bottom: 10px;
}
.NoticeBoard_edit {
  border:1px solid #ffe3eb;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  float: right;
  position: relative;
  top:20%;
  right:22%;
  background-color: #ffe3eb;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.NoticeBoard_edit:hover {
  background-color: #ffc1d2;
  border-color: #ffc1d2;
}
.NoticeBoard_edit_form {
  text-align: left;
  border: 1px solid red;
  width: 55%;
  padding: 20px;
  display: inline-block;
}
#NoticeBoard_edit_title {
  width: 100%;
  height: 50px;
  font-size: 24px;
}
#NoticeBoard_edit_content {
  width: 100%;
  height:720px;
  font-size: 16px;
}
#NoticeBoard_edit_button {
  float: right;
  width: 80px;
  height: 40px;
}







.Login_Head {
  top:10px;
}
.Login_Main {
  margin: 20px;
  text-align: center;
  position: relative;
  top: 30px;
}
.Login_Main_Content {
  width: 30%;
  height: 50px;
  margin:20px; 
  display: inline-block;
}
#Login_Main_Content_Checkbox {
  margin: 0px;
}
.Login_Checkbox {
  font-size: 20px;
  float: left;
  display: block;
}
#Login_Checkbox_Id {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.Login_Bottom{
  margin: 20px;
  text-align: center;
  position: relative;
  top: 50px;
}
.Login_Bottom_Content {
  font-size: 20px;
  padding: 10px;
  border-right: 2px solid gray;
  display: inline-block;
}
#Login_Bottom__Content_SignUp {
  border-right: none;
}

.Login_Sup_Content {
  width: 30%;
  margin:0 auto;
}
.Login_Sup_Content label{
  text-align: left;
  font-weight: 700;
  margin:20px; 
  display: block;
}

.Login_Sup_Content input{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom:20px;

  display: block;
}



.Visitors_Main{
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
.Visitors_Main_border {
  width:70%;
  height:720px;
  margin:0 auto;
  margin-top: 20px;
  border: 1px solid red;
  border-radius: 20px;
}